body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f7f7f7;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

input[type="text"],
input[type="number"],
select,
button {
    margin: 5px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#search-bar {
    width: 70%;
}

#reservation-name,
#qty-input,
#submit-reservation {
    width: 30%;
}

#concerts {
    width: 40%;
}

.show-reservation {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.show-reservation p {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.show-reservation button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 10px;
}

.user-amount,
.total-revenue {
    margin-top: 20px;
    font-weight: bold;
}

.concert-select-div {
    display: flex;
    align-items: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    border: 1px solid #dddddd;
    background-color: #f2f2f2;
    text-align: left;
    padding: 15px;
}

.alert-limit {
    display: none;
    background-color: #ffcccc;
    color: #cc0000;
    border: 1px solid #cc0000;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
}

.alert-limit.active {
    display: block;
    background-color: #ffcccc;
    color: #cc0000;
    border: 1px solid #cc0000;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
}